<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='found.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='map.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{{url_for('static', filename='script.js')}}"></script>
    <script>

    $(document).ready(function(){
        $(".js").click(function(){
            $(".detail-window").hide();
            $(".js").hide();
        });

        $(".close-detail").click(function(){
            $(".detail-window").hide();
            $(".js").hide();
        });

        $(".detail-button").click(function(){
            $(".detail-window").show();
            $(".js").show();
        });
    });

    </script>

    <script>

    $(document).ready(function(){
        $(".close-map").click(function(){
            $(".open-map").hide();
        });
        $(".open-map-button").click(function(){
            $(".open-map").show();
        });
    });

    </script>
</head>
<body>
    <!-- Менюшка категорий   -->
    <div class="nav-m">
        <ul >
            {% for item in catlst %}
                <li class="nav-item"> <a href="/каталог/{{ item }}" > {{ item }} </a> </li>
            {% endfor %}
        </ul>
        <a class="nav-item dish-list" href="/cart" >
            <div class="nav-item">
                <img src="{{ url_for('static', filename='images/tray-cart.png') }}" height="100%">
            </div>
        </a>
        <div class="count">
                Блюд:
        </div>
    </div>
    <!-- Список завдений  -->
    {% if ((r_lst|length) == 0) %}
        <!--  Если заведения не найдены  -->
        <p> Ну и изврат</p>
        <img src="{{ url_for('static', filename='images/hh.PNG') }}" >
    {% else %}
         <!--  Если найдены  -->
        <p> Подходящие заведения: </p>
        {% for item in r_lst %}
            <div class="cont-restaurant">
                <p> {{item.name}}</p>
                <P> Цена : N </P>
                <div class="cart-search" >
                    <a  class="detail-button" > Подробнее </a>
                </div>
                <!-- Вспылвающее окно "Подробнее"-->
                <div class="detail-window">
                    <p> {{item.name}} </p>
                    <p> {{item.address}}</p>
                    <a href="#" class="open-map-button"> Показать на карте </a>
                        <div class="open-map">
                            <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Ad0ed4653b0200ee8a0ccf6879009b6d6e9d43775965c7141fbd3634df5f881fb&amp;source=constructor" width="500" height="400" frameborder="0"></iframe>
                            <a href="#" class="close-map"> Закрыть </a>
                        </div>
                    <div class="dish-item-cost">
                        {% for item in cart %}
                            <p>{{item.name}}  {NNNN.NN}руб</p>
                        {% endfor %}
                    </div>
                    <a href="#" class="close-detail"> Закрыть </a>
                </div>
                <div class="js"></div>
            </div>
        {% endfor %}
    {% endif %}
</body>
</html>