
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="{{url_for('static', filename='script.js')}}"></script>



    </head>
  <body>
        <div class="nav-m">
            <ul >
                {% for item in catlst %}
                    <li class="nav-item"> <a href="/каталог/{{ item }}" > {{ item }} </a> </li>
                {% endfor %}
            </ul>
            <a class="nav-item dish-list" href="/cart" >
                    <img src="{{ url_for('static', filename='images/tray-cart.png') }}" height="100%">
            </a>
            <div class="count">
                Блюд:
            </div>
        </div>
         <div class="container">
            {% for ditem in dishlst %}
              <div class="cont-item">
                <div class="cont-item-img">
                    место для рекламы
                </div>
                <div class="cont-item-title">
                    {{ ditem.name }}
                </div>
                <div class="cont-item-comp">
                  {{ditem.desc}}
                </div>
                <div class="cont-item-plate">
                    <a  data-id="{{ditem.id}}" class="cont-item-plate-ok" href="# "> На поднос </a>
                </div>
              </div>
            {% endfor %}
         </div>
  </body>
</html>
