<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="{{url_for('static', filename='script.js')}}"></script>
    </head>
<div class="nav-m">
            <ul >
                {% for item in catlst %}
                    <li class="nav-item"> <a href="/каталог/{{ item }}" > {{ item }} </a> </li>
                {% endfor %}
            </ul>
            <a class="nav-item dish-list" href="/cart" >
                <div class="nav-item">
                    <img src="{{ url_for('static', filename='images/tray-cart.png') }}" height="100%">
                </div>
            </a>
            <div class="count">
                Блюд:
            </div>
        </div>
{%if mode is sameas true %}
{% if ((cart|length) == 0) %}
<h1 class="cart-title">Поднос пуст</h1>
{% else %}
<h1 class="cart-title">Подноc</h1>
<table class="cart-tbl">
    <tbody>
    {% for item in cart %}
        <tr data-id="{{item.dish.id}}">
            <td class="cart-title"> {{item.dish.name}}</td>
            <td>
            <div class="cart-counter">
                <button class="cart-cnt cart-cnt--down" ></button>
                <span class="cart-cnt-t"> {{item.quantity}} </span>
                <button class="cart-cnt cart-cnt--up" >  </button>
            </div>
            </td>
            <td>
                <button class="cart-cnt cart-cnt--del" >  </button>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<div class="cart-search" >
    <a  class="cart-search-ok" href="/cart/search">Найти заведение</a>
</div>
{% endif %}
{% else %}
{% if ((r_lst|length) == 0) %}
    <p> Ну и изврат</p>
    <img src="{{ url_for('static', filename='images/hh.PNG') }}" >
{% else %}
<p> Подходящие заведения: </p>
{% for item in r_lst %}
    <p> {{item.name}}</p>
{% endfor %}
{% endif %}
{% endif %}

</html>